/* @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-base: 255, 255, 255;
        --color-text-muted: 199, 210, 254;
        --color-text-inverted: 79, 70, 229;
        --color-fill: 67, 56, 202;
        --color-button-accent: 255, 255, 255;
        --color-button-accent-hover: 238, 242, 255;
        --color-button-muted: 99, 102, 241;
    }

    .theme-swiss {
        --color-text-base: 255, 255, 255;
        --color-text-muted: 254, 202, 202;
        --color-text-inverted: 220, 38, 38;
        --color-fill: 185, 28, 28;
        --color-button-accent: 255, 255, 255;
        --color-button-accent-hover: 254, 242, 242;
        --color-button-muted: 239, 68 ,68;
    }

    .theme-neon {
        --color-text-base: 17, 24, 2;
        --color-text-muted: 47, 67, 6;
        --color-text-inverted: 235, 250, 204;
        --color-fill: 179, 255, 23;
        --color-button-accent: 36, 52, 3;
        --color-button-accent-hover: 55, 79, 5;
        --color-button-muted: 212, 255, 122;
    }

    .danger {
        --color-base: 239, 68, 68;
        --color-muted: 254, 226, 226;
        --color-text: 188, 28, 28;
        --color-text-muted: 239, 68, 68;
        --color-base-darker: 188, 28, 28;
        --color-base-dark: 220, 38, 38;
    }

    .info {
        --color-base: 59, 130, 246;
        --color-muted: 219, 234, 254;
        --color-text: 29, 78, 216;
        --color-text-muted: 59, 130, 246;
        --color-base-darker: 29, 78, 216;
        --color-base-dark: 37, 99, 235;
    }

    .success {
        --color-base: 16, 185, 129;
        --color-muted: 209, 250, 229;
        --color-text: 6, 78, 59;
        --color-text-muted: 16, 185, 129;
        --color-base-darker: 6, 78, 59;
        --color-base-dark: 5, 150, 105;
    }

    .warning {
        --color-base: 245, 158, 11;
        --color-muted: 254, 243, 199;
        --color-text: 180, 83, 9;
        --color-text-muted: 245, 158, 11;
        --color-base-darker: 180, 83, 9;
        --color-base-dark: 217, 119, 6;
    }
}

.as-bg {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.as-bg-margin {
  margin-top: 110px !important;
}

.as-logo-gradient {
  background-color: #4158d0;
  background-image: linear-gradient(
    45deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.as-logo-container {
  border-radius: 100px;
  z-index: 999;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(29 29 29 / 52%);
  box-shadow: 0 0 0.3rem 0 rgb(0 0 0 / 10%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

@media (min-width: 768px) {
  .as-logo-container {
    width: fit-content !important;
  }
}

/* */

.as-bg::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 64px;
  z-index: 1;
}

.as-bg::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 64px;
  z-index: 1;
}

.as-blur {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.as-skills-slide {
  width: -webkit-fill-available;
  width: -moz-available;
  width: 100%;
  overflow: hidden;
}

.as-container {
  @apply mx-6 my-4 md:mx-14 lg:mx-36;
}

.as-margin {
  @apply my-12 mb-0;
}

.as-about-me {
  background: #3cc8b436;
  -webkit-animation: breathing 2.3s ease-out infinite;
  animation: breathing 2.3s ease-out infinite;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
